{% extends "index.html"%}

{% block saturs%}

<form>
    <input type="number">
    <select></select>
    <select></select>
    <input type="submit" value="Pievienot atzīmi!">
</form>

<form>
    <select></select>
    <select></select>
    <input type="submit" value="Pievienot skolotāju priekšmetam!">
</form>

<h1>Atzīmju piesaiste skolēnam</h1>
<table class="table">
    <tr>
        <th>Vārds</th>
        <th>Uzvārds</th>
        <th>Priekšmets</th>
        <th>Atzīme</th>
    </tr>
</table>

<h1>Skolotāju piesaiste priekšmetam</h1>
<table class="table">
    <tr>
        <th>Vārds</th>
        <th>Uzvārds</th>
        <th>Priekšmets</th>
    </tr>
</table>

{% endblock %}